/* ================================================ */
/* =========== Application Docs: Begin ============ */
/* ================================================ */
section#__docs {
    padding-top: 56px;
    max-width: 1280px;
    margin: 0px auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ===================================================== */
/* =============== Aside Bar Left: Begin =============== */
/* ===================================================== */
aside#asidebar-left {
    position: sticky;
    top: 56px;
    height: calc(100vh - 56px);
    width: 260px;
    overflow-y: auto;
    border-right: 1px solid #e4e4e7;
    background: #ffffff;
    padding: 16px;
}

/* ====== ({ Left Side Bar }) ====== */
.lsab-list,
.rsab-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2px;
}

/* ====== ({ Side Bar: Link }) ====== */
a.sidebar-link,
button.sidebar-link {
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 8px;
    padding: 8px 12px;
    color: #71717A;
    font-size: 14px;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.1s ease-in-out;
}

a.sidebar-link:hover {
    color: #18181B;
    background: #f7f7f7;
}

svg.boxi-lsab-gs, svg.boxi-lsab-rl, svg.boxi-lsab-auth,
svg.boxi-lsab-titles, svg.boxi-lsab-search, svg.boxi-lsab-seasons,
svg.boxi-lsab-episodes, svg.boxi-lsab-people, svg.boxi-lsab-collections,
svg.boxi-lsab-generes, svg.boxi-lsab-tag, svg.boxi-lsab-companies,
svg.boxi-lsab-networks, svg.boxi-lsab-countries, svg.boxi-lsab-lang,
svg.boxi-lsab-discover, svg.boxi-lsab-reviews, svg.boxi-lsab-similers,
svg.boxi-lsab-ref {
    position: relative;
    bottom: 1px;
}

a.sidebar-link.active { 
    font-weight: 500;
    color: var(--primary-color) !important;
    background: #eceded !important;
}

/* ====================================================== */
/* =============== Aside Bar Right: Begin =============== */
/* ====================================================== */
aside#asidebar-right {
    position: sticky;
    top: 56px;
    height: calc(100vh - 56px);
    width: 260px;
    overflow-y: auto;
    border-left: 1px solid #e4e4e7;
    background: #ffffff;
    padding: 16px;
}

button.sidebar-link.active { 
    background: #eceded !important;
    color: #18181b !important;
    font-weight: 500;
}

button.sidebar-link:hover {
    background: #f7f7f7;
    color: #18181b;
}

/* ====== ({ Side Bar: Link }) ====== */
span.method {
    font-family: var(--font-sora);
    font-size: 10px;
    font-weight: 500;
    height: 21px;
    width: 38px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.method-get {
    background: #ecfdf5;
    color: #047857;
    border: 1px solid #c0ffbe;
}

.method-post {
    color: #f86632;
    background: #fff3ed;
    border: 1px solid #ffd0be;
}

.method-del {
    background-color: #fef2f2;
    color: #DC2626;
}
